@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

html, body {
    min-height: 100vh;
    background-color: darkgrey;
}

header {
    color: white;
    background-color: black;
    text-align: center;
}

header > h1 {
    padding-top: 50px;
    font-variant: small-caps;
}

header > p {
    padding-bottom: 50px;
}

a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

section.normal {
    background-color: white;
    color: black;
}

section.imagem {
    background-color: hwb(0 20% 80%)
    color: white;
}

footer {
    background-color: black;
    text-align: center;
    color: white;
    padding: 10px;
}